params {
  workDir = "/orfeo/cephfs/scratch/cdslab/ebusca00/nextflow_test/"
  samples = "/orfeo/cephfs/scratch/cdslab/ebusca00/GitHub/nextflow_modules/input.csv"
  publish_dir = "$workDir/results"

  mobster_samples = "5",
  mobster_init = "peaks",
  mobster_tail = "c(TRUE,FALSE)",
  mobster_epsilon = "1e-10",
  mobster_maxIter = "250",
  mobster_fit_type = "MM",
  mobster_seed = "12345",
  mobster_model_selection = "reICL",
  mobster_trace = "FALSE",
  mobster_parallel = "TRUE",
  mobster_pi_cutoff = "0.02",
  mobster_n_cutoff = "10",
  mobster_auto_setup = "NULL",
  mobster_silent = "FALSE"

}
