params {
  workDir = "/orfeo/LTS/CDSLab/LT_storage/nextflow_modules/"
  ref_genome = "/orfeo/LTS/CDSLab/LT_storage/ref_genomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  ref_genome_vartrix = "/orfeo/cephfs/scratch/cdslab/ggandolfi/test_data_vartrix/test.fa"
  samples = "$baseDir/input/sample_sheet_test.csv"
  publish_dir = "$baseDir/results"
  norm_method = "mean"
  vep_dir_cache = "/orfeo/LTS/CDSLab/LT_storage/ref_genomes/VEP"
  vep_cache_version = "110"
  assembly = "GRCh38"
  db = "$baseDir/annovar/"
  humandb = "$baseDir/ANNOVAR/humandb_38/"
  buildver = "hg38"
  tools = null // No default Subclonal deconvolution tool

  // Sequenza CNAqc
  seqcna_norm_method = "median"
  seqcna_window = "1e5"
  seqcna_gamma = "280"
  seqcna_kmin = "300"
  seqcna_min_reads_baf = "50"
  seqcna_min_reads = "50"
  seqcna_reads_normal = "15"
  seqcna_max_mut_types = "1"
  seqcna_low_cell = "0.9"
  seqcna_up_cell = "1.0"
  seqcna_low_ploidy = "1.8"
  seqcna_up_ploidy = "5.4"
  seqcna_delta_cellularity = "0.05"
  seqcna_delta_ploidy = "0.25"
  seqcna_matching_strategy = "rightmost"

  // Coupled WGS-scRNA
  vartrix_scoring_method = 'consensus'    // default value for VARTRIX
  vartrix_padding = 100 // default value for VARTRIX
  vartrix_umi = false // default value for VARTRIX

  // VAF deconvolution - pyclonevi
  pyclonevi_n_cluster = 20    // default value for PYCLONEVI
  pyclonevi_density = 'beta-binomial' // default value for PYCLONEVI
  pyclonevi_n_grid_point = 100 // default value for PYCLONEVI
  pyclonevi_n_restarts = 100 // default value for PYCLONEVI

  // VAF deconvolution - mobster
  mobster_K = "1:5"
  mobster_samples = "5"
  mobster_init = "peaks"
  mobster_tail = "c(TRUE,FALSE)"
  mobster_epsilon = "1e-10"
  mobster_maxIter = "250"
  mobster_fit_type = "MM"
  mobster_seed = "12345"
  mobster_model_selection = "reICL"
  mobster_trace = "FALSE"
  mobster_parallel = "TRUE"
  mobster_pi_cutoff = "0.02"
  mobster_n_cutoff = "10"
  mobster_auto_setup = "NULL"
  mobster_silent = "FALSE"

  // VAF deconvolution - VIBER
  viber_K = "10"
  viber_samples = "10"
  viber_alpha_0 = "1e-06"
  viber_a_0 = "1"
  viber_b_0 = "1"
  viber_maxIter = "5000"
  viber_epsilon_conv = "1e-10"
  viber_q_init = "prior"
  viber_trace = "FALSE"
  viber_binomial_cutoff = "0.05"
  viber_dimensions_cutoff = "1"
  viber_pi_cutoff = "0.02"
  viber_re_assign = "FALSE"

  // Clone tree - ctree
  ctree_sspace_cutoff = "10000"
  ctree_n_sampling = "5000"
  ctree_store_max = "100"

  // Mutational Signature Deconvolution - SigProfilerExtractor
   

  // Mutational Signature Deconvolution - SparseSignatures
  sparsesignatures_K = "2:10"
  sparsesignatures_background_signature = "NULL" 
  sparsesignatures_beta = "NULL"
  isparsesignatures_normalize_counts = "TRUE"
  sparsesignatures_nmf_runs = "10"
  sparsesignatures_iterations = "30" 
  sparsesignatures_max_iterations_lasso = "10000"
  sparsesignatures_num_processes = "Inf"
  sparsesignatures_starting_beta = "NULL"
  sparsesignatures_cross_validation_entries = "0.01"
  sparsesignatures_cross_validation_iterations = "5"
  sparsesignatures_cross_validation_repetitions = "10"
  sparsesignatures_lambda_rate_alpha = "min_Lambda_alpha"
  sparsesignatures_lambda_rate_beta = "min_Lambda_beta"
  sparsesignatures_seed = "NULL"
  sparsesignatures_log_file = ""
  sparsesignatures_verbose = "TRUE"

  // Mutational Signature Deconvolution - SigProfiler
  sigprofiler_reference_genome = "{GRCh37, GRCh38}"
  sigprofiler_exome = "False"
  sigprofiler_bed_file = "None"
  sigprofiler_chrom_based = "False"
  sigprofiler_plot = "False"
  sigprofiler_tsb_stat = "False"
  sigprofiler_seqInfo = "True"
  sigprofiler_cushion = "100"
  sigprofiler_volume = "None"
  sigprofiler_input_type = "matrix"
  sigprofiler_content_type = "96,DINUC,ID"
  sigprofiler_minimum_signatures = "1"
  sigprofiler_maximum_signatures = "25"
  sigprofiler_nmf_replicates = "100"
  sigprofiler_resample = "True"
  sigprofiler_seeds = "random"
  sigprofiler_matrix_normalization = "gmm"
  sigprofiler_nmf_init = "random"
  sigprofiler_min_nmf_iterations = "10000"
  sigprofiler_max_nmf_iterations = "1000000"
  sigprofiler_nmf_test_conv = "10000"
  sigprofiler_tolerance = "1e-15"
  sigprofiler_cpu = "-1"
  sigprofiler_gpu = "False"
  sigprofiler_batch_size = "1"
  sigprofiler_stability = "0.8"
  sigprofiler_min_stability = "0.2"
  sigprofiler_combined_stability = "1.0"
  sigprofiler_cosmic_version = "3.1"
  sigprofiler_de_novo_fit_penalty = "0.02"
  sigprofiler_nnls_add_penalty = "0.05"
  sigprofiler_nnls_remove_penalty = "0.01"
  sigprofiler_initial_remove_penalty = "0.05"
  sigprofiler_refit_denovo_signatures = "True"
  sigprofiler_make_decomposition_plots = "True"
  sigprofiler_collapse_to_SBS96 = "True"
  sigprofiler_get_all_signature_matrices = "False"
  sigprofiler_export_probabilities = "True"
  
}
