params {
  workDir = "/mnt/CDSLab/LT_storage/shared/prj_hypermutant/nextflow_pipeline"
  ref_genome = "/mnt/CDSLab/LT_storage/ref_genomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  samples = "/mnt/CDSLab/LT_storage/shared/prj_hypermutant/nextflow_pipeline/input.csv"
  publish_dir = "$baseDir/results"
  norm_method = "mean"
  vep_dir_cache = "/mnt/CDSLab/LT_storage/ref_genomes/VEP"
  vep_cache_version = "110"
  assembly = "GRCh38"
}
