params {
  workDir = "/large/___SCRATCH___/cdslab/ncalonaci/mfag/cll/nextflow_pipeline/"
  ref_genome = "/u/cdslab/ncalonaci/cll/nextflow_pipeline/reference/GCA_000001405.14_GRCh37.p13_no_alt_analysis_set.fna"
  samples = "$baseDir/sample_sheet.csv"
  publish_dir = "$baseDir/results"
  norm_method = "mean"
  vep_dir_cache = "/u/cdslab/ncalonaci/.vep/" 
  vep_cache_version = "108"
  assembly = "GRCh37"
}
